name: Update README Repos
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "RECENT_REPOS"
          feed_list: "https://github.com/golu-aryan.atom"
          max_post_count: 5
          template: "- [$title]($url)"
